@import '../../variables';

.app-button {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:hover {
    background-color: $dark;
    color: $light;
  }

  &--error {
    background-color: $error;
  }

  &--info {
    background-color: $info;
  }

  &--success {
    background-color: $success;
  }
}
